.header {
    background-color: var(--primary-color);
    min-height: 100px;
    align-content: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}

.menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 3px;
}