
.latest-news {
    max-width: 1440px;
    height: 1044px;
    margin: 0 auto;
    background-color: var(--secondary-color);
}

.latest-news__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.latest-news__title {
    color: var(--gray-color);
    font-family: var(--primary-font);
    font-size: 48px;
    font-weight: 400;
    line-height: 56.25px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.latest-news__separator-line {
    width: 100px;
    height: 8px;
    top: 127px;
    left: 670px;
}

.latest-news__items {
    columns: 4;
    margin: 4.2%;
}

.latest-news__item {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 10%;
    border-radius: 3px;
}

.latest-news__item-img {
    border-radius: 3px 3px 0 0;
}

.latest-news__item--desc {
    color: var(--gray-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@media (max-width: 1024px) {
    .latest-news {
        height: 1368px;
    }
    .latest-news__items {
        columns: 3;
    }
    .latest-news__item {
        display: inline-flex;
    }
}

@media (max-width: 768px) {
    .latest-news {
        height: 1820px;
    }
    .latest-news__items {
        columns: 2;
        margin-top: 7%;
        align-self: center;
        width: 80%;
    }
}

@media (max-width: 640px) {
    .latest-news {
        height: 1750px;
    }
    .latest-news__items {
        width: 85%;
    }
    .latest-news__item {
        width: 100%;
    }
    .latest-news__title {
        font-size: 48px;
        font-weight: 400;
        line-height: 38px;
    }
}

@media (max-width: 430px) {
    .latest-news {
        height: 4300px;
    }
    .latest-news__items {
        columns: 1;
    }
    .latest-news__title {
        font-size: 24px;
        font-weight: 400;
        line-height: 38px;
    }
}