@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --dark-color: rgba(43, 64, 116, 1);
    --light-color: rgba(249, 246, 229, 1);
    --gradient-color: linear-gradient(rgba(43, 64, 116, 1), rgba(43, 64, 116, 0));
    --robotoC-font: Roboto Condensed;
    --roboto-font: Roboto;
    --doisis-font: Dosis;
}

.header {
    background-color: var(--dark-color);
}

.header--container {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}

.intro__container {
    background-image: url("../images/intro-bg.png");
    background-size: cover;
    background-position: center;
    min-height: 668px;
}

.intro__center-block {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.intro__center-block--title {
    font-family: var(--robotoC-font), sans-serif;
    font-size: 96px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.intro__center-block--text {
    font-family: var(--robotoC-font), sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: white;
}

.intro__center-block--button {
    text-align: center;
}

.intro__button {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: var(--roboto-font), sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
}

.intro__center-block--pagination {
    text-align: center;
}

