/*_ The css class with all custom setting from html _*/

:root {
    --bg-color-blue: rgba(43, 64, 116, 1);
    --bg-color-cap: rgba(249, 246, 229, 1);
    --bg-color-white: rgba(255, 255, 255, 1);
    --bg-color-gradient: linear-gradient(rgba(43, 64, 116, 1), rgba(43, 64, 116, 0));
}
