
.video-block {
    min-height: 580px;
}

.video-block__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.video-block__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    max-height: 480px;
}

.video-block__title {
    color: var(--gray-color);
    font-family: var(--primary-font);
    font-size: 48px;
    font-weight: 400;
    line-height: 56.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.video-block__separator-line {
    color: red;
}

.video-block__middle-text {
    color: var(--gray-color);
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.video-block__watch-video {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    min-height: 50px;
    min-width: 200px;
    border: none;
}